<header>
  <span>My ToDo</span>
</header>

<div class='main'>
  <div class='contents'>
    <p class='list-title'>買い物リスト
    <ul>
      <li>Macbook Pro</li>
      <li>iPhone13 mini</li>
      <li>Apple watch</li>
      <li>たべっ子どうぶつ</li>
      <li>豆乳</li>
    </ul>
  </div>
</div>



